<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tocky</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css" />
    <style>
        #app {
            font-family: Avenir, Helvetica, Arial, sans-serif;
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="app">
        <form class="ui form">
            <label>
                Internet Archive Identifier
                <input type="text" v-model="ia_identifier">
            </label>

            <div class="ui horizontal divider">OR</div>

            <label>
                Open Library Edition key (e.g. "OL123M")
                <input type="text" v-model="ol_edition_id">
            </label>

            <footer class="controls">
                <button class="ui primary button" @click="extractToc">Extract TOC</button>
            </footer>
        </form>
    </div>

    <script type="module">
        await import("https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js");
        await import("https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.js");
        const { default: Vue } = await import("https://cdn.jsdelivr.net/npm/vue@2.7/dist/vue.esm.browser.js");

        window.app = new Vue({
            el: "#app",
            data() {
                return {
                    ia_identifier: "",
                    ol_edition_id: "",
                };
            },

            mounted() {
                // read from url params if empty
                const urlParams = new URLSearchParams(window.location.search);
                this.ia_identifier = this.ia_identifier || urlParams.get("ia") || "";
                this.ol_edition_id = this.ol_edition_id || urlParams.get("ol") || "";
            },

            methods: {
                async extractToc() {
                    alert("Not implemented");
                },
            },
        });
    </script>
</body>

</html>