<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit | Tocky</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css" />

</head>

<body>
    <div id="app">
        <form class="ui form">
            <div class="field">
                <label>Internet Archive</label>
                <input type="text" v-model="ia_id" placeholder="e.g. goody">
            </div>

            <div class="field">
                <label>Open Library</label>
                <input type="text" v-model="ol_id" placeholder="e.g. OL123M" pattern="^OL\d+M$">
            </div>

            <footer class="controls">
                <button
                    class="ui primary button"
                    @click="extractToc"
                    :class="{ loading: state === 'Submitting' }"
                    :disabled="state === 'Submitting'"
                >Extract TOC</button>
            </footer>
        </form>
    </div>

    <script type="module">
        await import("https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js");
        await import("https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.js");
        const { default: Vue } = await import("https://cdn.jsdelivr.net/npm/vue@2.7/dist/vue.esm.browser.js");

        window.app = new Vue({
            el: "#app",
            data() {
                return {
                    ia_id: "",
                    ol_id: "",
                    state: "To Submit",
                };
            },

            mounted() {
                // read from url params if empty
                const urlParams = new URLSearchParams(window.location.search);
                this.ia_id = this.ia_id || urlParams.get("ia_id") || "";
                this.ol_id = this.ol_id || urlParams.get("ol_id") || "";
            },

            methods: {
                async extractToc() {
                    window.TOCKEY_API_KEY = (window.TOCKEY_API_KEY || prompt("Tocky API key"));

                    if (!window.TOCKEY_API_KEY) {
                        alert("Please provide a Tocky API key");
                    }
                    this.state = "Submitting";
                    const res = await fetch("/tocky/submit", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            'X-API-Key': window.TOCKEY_API_KEY,
                        },
                        body: JSON.stringify({
                            ia_identifier: this.ia_id,
                            ol_edition_id: this.ol_id,
                        })
                    });
                    if (!res.ok) {
                        throw new Error("Failed to extract TOC");
                    }
                    console.log(res.json());
                },
            },
        });
    </script>
</body>

</html>