<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batches | Tocky</title>

    <script>
        // Do this early to avoid flash of light theme
        if (localStorage.getItem('tocky--dark-mode') === 'true') {
            document.documentElement.classList.add('tocky-dark-mode');
        }
        window.TOCKY_CONF = [[ TOCKY_PUBLIC_CONFIG_JSON|safe ]];
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/primeicons@7.0.0/primeicons.css" />
    <style>
        [v-cloak] {
            display: none !important;
        }
        html, body {
            background-color: var(--p-content-background);
        }
        html.tocky-dark-mode {
            color-scheme: dark;
        }
        .flashing {
            animation: flashing 1.6s infinite;
        }

        @keyframes flashing {
            5% { opacity: 1; }
            45% { opacity: 1; }
            55% { opacity: 0; }
            95% { opacity: 0; }
        }

        td:nth-child(5) .tocky-copy-button {
            opacity: 0;
            transition: opacity 0.2s;
        }
        td:nth-child(5):hover .tocky-copy-button {
            opacity: 1;
        }

        .p-multiselect-list-container {
            scrollbar-width: thin;
        }

        .p-progressbar.tocky-many-progress-bar {
            height: 7px;
        }
        .tocky-many-progress-bar .p-progressbar-label {
            display: flex;
            height: 100%;
            width: 100%;
            gap: 1px;
            background: transparent;
        }
        .tocky-many-progress-bar .p-progressbar-value {
            background: transparent;
        }
        .tocky-many-progress-bar .p-button {
            padding: 0;
            border-radius: 0;
        }

        .batch-query-link a {
            color: inherit;
        }
        .tocky-truncate-ellipsis {
            display: -webkit-box;
            word-break: break-all;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <tocky-header></tocky-header>
        <p-data-table
            size="small"
            scrollable 
            data-key="id"
            :loading="loading"
            :value="records"

            :filters="filters"
            filter-display="menu"
            lazy
            @filter="handleFilter"
        >
            <p-column field="id" header="ID">
                <template #body="{ data }">
                    #{{ data.id }}
                </template>
            </p-column>
            <p-column field="creator" header="Creator" style="white-space: nowrap;"></p-column>
            <p-column field="created" header="Created" style="white-space: nowrap;"></p-column>
            <p-column field="name" header="Name" style="width: 50%">
                <template #body="{ data }">
                    <template v-if="data.name">{{ data.name }}</template>
                    <i v-else>Batch #{{ data.id }}</i>
                    <p-button
                        as="a" 
                        text
                        size="small"
                        class="batch-query-link"
                        :href="buildIaSearchUrl(data.record)"
                        target="_blank"
                    >
                        <span
                            class="tocky-truncate-ellipsis"
                        >{{data.record.query}}</span>
                        <i class="pi pi-external-link" style="font-size: inherit"></i>
                    </p-button>
                </template>
            </p-column>
            <p-column field="state" header="State" :show-filter-match-modes="false" style="min-width: 150px; white-space: nowrap;">
                <template #body="{ data }">
                    <tocky-state-tag :state="data.state"></tocky-state-tag>
                    <p-progress-bar
                        class="tocky-many-progress-bar"
                        style="margin-top: 4px;"
                        v-if="data.record.limit"
                        :value="100 * data.record.offset / data.record.limit"
                    >
                        <p-button
                            v-for="(count, state) in data.job_states"
                            :key="state"
                            :title="`${state}: ${count}`"
                            :severity="jobStateToPrimeVueSeverity(state)"
                            :style="{flex: count, height: '100%'}"
                        ></p-button>
                    </p-progress-bar>
                </template>
                <template #filter="{ filterModel, filterCallback }">
                    <p-multi-select
                        v-model="filterModel.value"
                        @change="filterCallback()"
                        :options="batchStateOptions"
                        placeholder="Filter"
                        :showClear="true"
                    >
                        <template #option="{ option }">
                            <tocky-state-tag :state="option"></tocky-state-tag>
                        </template>
                    </p-multi-select>
                </template>
            </p-column>
            <p-column header="Actions" style="white-space: nowrap;">
                <template #body="{ data }">
                    <p-button text as="a" size="small" :href="`[[ TOCKY_APPLICATION_ROOT ]]/list#batch_id=${data.id}`">View Jobs</p-button>
                </template>
            </p-column>
        </p-data-table>

        <p-paginator
            :rows="limit"
            :total-records="max_id"
            @page="handlePageChange"
        ></p-paginator>

        <p-dialog v-model:visible="dialogVisible" header="Full Record" :modal="true" :style="{ width: '50vw' }">
            <pre>{{ fullRecord }}</pre>
        </p-dialog>
    </div>

    <script src="https://unpkg.com/vue@3.4.38/dist/vue.global.js"></script>
    <script src="https://unpkg.com/primevue@4.0.5/umd/primevue.min.js"></script>
    <script src="https://unpkg.com/@primevue/themes@4.0.5/umd/aura.min.js"></script>
    <script src="[[ url_for('static', path='shared.js') ]]"></script>
    <script>
        const hashParams = new URLSearchParams(window.location.hash.slice(1));
        const DEFAULT_LIMIT = 20;
        const DEFAULT_OFFSET = 0;
        window.app = Vue.createApp({
            data() {
                const limit = hashParams.get('limit') ? parseFloat(hashParams.get('limit')) : DEFAULT_LIMIT;
                return {
                    max_id: 1000,

                    records: [],

                    dialogVisible: false,
                    fullRecord: '',
                    loading: false,

                    limit: limit,
                    offset: hashParams.get('offset') ? parseFloat(hashParams.get('offset')) :
                        hashParams.get('page') ? (parseFloat(hashParams.get('page')) - 1) * limit : DEFAULT_OFFSET,
                    filters: {
                        'state': {
                            value: (hashParams.get('state') || '').split('|'),
                        },
                        'creator': {
                            value: (hashParams.get('creator') || '').split('|'),
                        },
                    },

                    batchStateOptions: [
                        "Pending",
                        "Paused",
                        "Processing",
                        "Completed",
                        "Failed",
                        "Cancelled",
                    ],

                };
            },
            methods: {
                buildIaSearchUrl(batchRecord) {
                    const url = new URL('https://archive.org/search');
                    url.searchParams.set('q', '(' + batchRecord.query + ') AND ' + batchRecord.toc_filter);
                    url.searchParams.set('sort', '-week');
                    return url;
                },
                jobStateToPrimeVueSeverity: TockyShared.jobStateToPrimeVueSeverity,
                async apiGetBatches(params) {
                    const response = await fetch(`[[ TOCKY_APPLICATION_ROOT ]]/api/batches?${new URLSearchParams(params)}`);
                    return await response.json();
                },
                async fetchData() {
                    this.loading = true;
                    const params = {
                        limit: this.limit,
                        offset: this.offset,
                    };
                    for (const [key, value] of Object.entries(this.filters)) {
                        if (value.value?.length > 0) {
                            params[key] = value.value.join('|');
                        }
                    }

                    this.records = await this.apiGetBatches(params);
                    this.loading = false;
                },
                showFullRecord(record) {
                    this.fullRecord = JSON.stringify(record, null, 2);
                    this.dialogVisible = true;
                },
                handleFilter(event) {
                    if (JSON.stringify(this.filters) === JSON.stringify(event.filters)) {
                        return;
                    }
                    this.filters = event.filters;
                    this.offset = 0;
                    console.log('FILTER', event);
                    this.fetchData(event.filters);
                },
                handlePageChange(event) {
                    this.offset = event.first;
                    this.fetchData();
                },
                updateHashParams() {
                    hashParams.set('limit', this.limit);
                    if (this.limit === DEFAULT_LIMIT) {
                        hashParams.delete('limit');
                    }
                    hashParams.set('page', Math.floor(this.offset / this.limit) + 1);
                    if (this.offset === DEFAULT_OFFSET) {
                        hashParams.delete('page');
                    }
                    for (const [key, value] of Object.entries(this.filters)) {
                        const values = (value.value || []).filter(v => !!v);
                        hashParams.set(key, values.join('|'));
                        if (!values.length) {
                            hashParams.delete(key);
                        }
                    }
                    window.location.hash = hashParams.toString();
                },
            },
            watch: {
                limit() {
                    this.updateHashParams();
                },
                offset() {
                    this.updateHashParams();
                },
                filters: {
                    handler() {
                        this.updateHashParams();
                    },
                    deep: true,
                },
            },
            async mounted() {
                await this.fetchData();
                // This is a hack to get the max id for the paginator without having
                // to do a separate request
                this.max_id = this.records.length ? this.records[0].id : 1000;
            }
        });

        TockyShared.registerComponents(window.app);
        window.app.mount("#app");
    </script>
</body>

</html>
