<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List | Tocky</title>

    <style>
        body {
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
        }
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <p-data-table
            size="small"
            scrollable 
            :loading="loading"
            :value="records"
        >
            <p-column field="id" header="ID"></p-column>
            <p-column field="assignee" header="Assignee"></p-column>
            <p-column field="created" header="Created"></p-column>
            <p-column field="state" header="State">
                <template #body="{ data }">
                    <p-tag v-if="data.state === 'Done'" value="Done" severity="success"></p-tag>
                    <p-tag v-else-if="data.state === 'Errored'" value="Errored" severity="danger"></p-tag>
                    <p-tag v-else :value="data.state" severity="info"></p-tag>
                </template>
            </p-column>
            <p-column field="record.ocaid" header="IA ID"></p-column>
            <p-column field="record" header="Record">
                <template #body="{ data }">
                    <p-button text size="small" @click="showFullRecord(data)">View JSON</p-button>
                </template>
            </p-column>
            <p-column header="Actions">
                <template #body="{ data }">
                    <p-button link as="a" size="small" :href="`[[ config.env.TOCKY_APPLICATION_ROOT ]]/review/${data.id}`" target="_blank" >Review</p-button>
                </template>
            </p-column>
        </p-data-table>

        <p-dialog v-model:visible="dialogVisible" header="Full Record" :modal="true" :style="{ width: '50vw' }">
            <pre>{{ fullRecord }}</pre>
        </p-dialog>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/primevue/umd/primevue.min.js"></script>
    <script src="https://unpkg.com/@primevue/themes/umd/aura.min.js"></script>
    <script>
        window.app = Vue.createApp({
            data() {
                return {
                    records: [],
                    limit: 50,
                    offset: 0,
                    dialogVisible: false,
                    fullRecord: '',
                    loading: false,
                };
            },
            methods: {
                async fetchData() {
                    this.loading = true;
                    const params = new URLSearchParams({ limit: this.limit, offset: this.offset });
                    const response = await fetch(`https://testing.openlibrary.org/tocky/api/list?${params}`);
                    this.records = await response.json();
                    this.loading = false;
                },
                showFullRecord(record) {
                    this.fullRecord = JSON.stringify(record, null, 2);
                    this.dialogVisible = true;
                }
            },
            mounted() {
                this.fetchData();
            }
        });

        window.app.use(PrimeVue.Config, {
            theme: {
                preset: PrimeVue.Themes.Aura,
                options: {
                    prefix: 'p',
                    darkModeSelector: '.never',
                }
            }
        });

        window.app.component('p-data-table', PrimeVue.DataTable);
        window.app.component('p-column', PrimeVue.Column);
        window.app.component('p-column-group', PrimeVue.ColumnGroup);
        window.app.component('p-dialog', PrimeVue.Dialog);
        window.app.component('p-button', PrimeVue.Button);
        window.app.component('p-tag', PrimeVue.Tag);

        window.app.mount("#app");
    </script>
</body>

</html>
