<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit | Tocky</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/primeicons@7.0.0/primeicons.css" />
    <style>
        [v-cloak] {
            display: none;
        }

        .flex-row {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            gap: 10px;
        }

        /** Override some PrimeVue defaults */
        .p-floatlabel {
            margin-top: 22px;
        }
        .p-floatlabel label {
            pointer-events: all !important;
        }
        .p-select-overlay.block-options .p-select-option {
            display: block !important;
            white-space: wrap !important;
        }

        .p-select-overlay.block-options {
            max-width: 300px;
        }

        .p-select-overlay.block-options .p-select-list-container {
            scrollbar-width: thin;
            max-height: 300px !important;
        }

        .tocky-page-selector {
            max-height: 300px;
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <tocky-header></tocky-header>
        <form class="ui form container">
            <p-fieldset legend="Input Book" :toggleable="true">
                <div class="ui segment basic">
                    <div class="column field">
                        <label>Internet Archive ID</label>
                        <input type="text" name="ia_id" v-model="ia_id" placeholder="e.g. goody">
                        <p-button small text
                            @click="tryRandomBook"
                            :loading="randomIaIds.loading"
                            label="Try a random book"
                        ></p-button>
                    </div>
                </div>
            </p-fieldset>

            <p-fieldset legend="Detector Options" :toggleable="true" collapsed>
                <p>
                    Given a book, this phase is responsible for finding the pages that contain
                    the table of contents in a book.
                </p>
                
                <p-float-label>
                    <p-select
                        v-model="detector"
                        overlay-class="block-options"
                        :options="detector_options"
                        option-label="name"
                    >
                        <template #option="{ option }">
                            <div style="font-weight: bold">{{ option.name }}</div>
                            <div>{{ option.description }}</div>
                        </template>
                    </p-select>
                    <label>Detector</label>
                </p-float-label>

                <p-fieldset legend="OCR Detector Options" :toggleable="true" v-if="detector == DETECTORS.ocr_detector">
                    <div class="flex-row">
                        <label>
                            <p-checkbox v-model="detector.options.allow_reocr.value" :binary="true"></p-checkbox>
                            Allow Re-OCR <i class="ui icon question circle outline" v-tooltip="`Allow custom regenerating of the OCR when deemed useful. Useful to fix errors in IA OCR.`"></i>
                        </label>
    
                        <p-float-label>
                            <p-select
                                v-model="detector.options.ocr_engine.value"
                                :options="detector.options.ocr_engine.options"
                                :disabled="!detector.options.allow_reocr.value"
                            ></p-select>
                            <label>OCR Engine</label>
                        </p-float-label>
    
                        <p-message severity="warn" v-if="detector.options.ocr_engine.value === 'easyocr'">
                            <p>EasyOCR requires a GPU to run. If you don't have a GPU, please use Tesseract.</p>
                        </p-message>
                        <p-message severity="warn" v-else-if="detector.options.ocr_engine.value === 'tesseract'">
                            <p>Tesseract can perform poorly when detecting page numbers on a table of contents page, but runs on CPU.</p>
                        </p-message>
                    </div>
                </p-fieldset>
                <p-fieldset legend="AI Vision Detector Options" :toggleable="true" v-else-if="detector == DETECTORS.ai_vision_detector">
                    <div class="flex-row">
                        <p-float-label>
                            <p-select v-model="detector.options.model.value" :options="detector.options.model.options"></p-select>
                            <label>Model</label>
                        </p-float-label>
                        <br>
                        <p-float-label>
                            <p-input-number v-model="detector.options.max_tokens.value" mode="decimal" :min="1" :max="500"></p-input-number>
                            <label>Max Tokens <i class="ui icon question circle outline" v-tooltip="`The maximum number of tokens to generate. This is the maximum number of tokens the model will generate for the completion.`"></i></label>
                        </p-float-label>
                    </div>
                </p-fieldset>
                <p-fieldset legend="Manual Detector Options" :toggleable="true" v-else-if="detector == DETECTORS.manual_detector">
                    <blockquote>"Why don't you just tell me where the TOC is?"</blockquote>
                    <div class="ui segment basic">
                        <div class="field">
                            <label>Leaf Numbers</label>
                            <p-input-text
                                v-model="detector.options.leaf_numbers.value_str"
                                placeholder="e.g. 1,2,3"
                                pattern="^\d+(, ?\d+)*$"
                            ></p-input-text>
                        </div>
                        <tocky-page-selector
                            v-model="detector.options.leaf_numbers.value"
                            :get-image-url="getImageUrl"
                        ></tocky-page-selector>
                    </div>
                </p-fieldset>
            </p-fieldset>

            <p-fieldset legend="Extractor Options" :toggleable="true" collapsed>
                <p>
                    Given the pages containing the table of contents, this phase is responsible
                    for converting those pages to a structured format.
                </p>

                <p-float-label>
                    <p-select
                        overlay-class="block-options"
                        v-model="extractor"
                        :options="extractor_options"
                        option-label="name"
                    >
                        <template #option="{ option }">
                            <div style="font-weight: bold">{{ option.name }}</div>
                            <div>{{ option.description }}</div>
                        </template>
                    </p-select>
                    <label>Extractor</label>
                </p-float-label>

                <p-fieldset legend="AI Extractor Options" :toggleable="true" v-if="extractor == EXTRACTORS.ai_extractor">
                    <div class="flex-row">
                        <p-float-label>
                            <p-select v-model="extractor.options.model.value" :options="extractor.options.model.options"></p-select>
                            <label>Model</label>
                        </p-float-label>

                        <p-float-label>
                            <p-input-number v-model="extractor.options.max_sent_tokens.value" :min="1000"></p-input-number>
                            <label>
                                Max Sent Tokens <i class="ui icon question circle outline" v-tooltip="`This could be limited by your model. E.g. gpt 4o mini can handle 128k tokens.`"></i>
                            </label>
                        </p-float-label>

                    </div>
                    <div class="flex-row">
                        <label>
                            <p-checkbox v-model="extractor.options.redo_ocr.value" :binary="true"></p-checkbox>
                            Redo OCR <i class="ui icon question circle outline" v-tooltip="`Re-generate the OCR for all the detected TOC pages.`"></i>
                        </label>

                        <p-float-label>
                            <p-select
                                v-model="extractor.options.ocr_engine.value"
                                :options="extractor.options.ocr_engine.options"
                                :disabled="!extractor.options.redo_ocr.value"
                            ></p-select>
                            <label>OCR Engine</label>
                        </p-float-label>
    
                        <p-message severity="warn" v-if="extractor.options.ocr_engine.value === 'easyocr'">
                            <p>EasyOCR requires a GPU to run. If you don't have a GPU, please use Tesseract.</p>
                        </p-message>
                        <p-message severity="warn" v-else-if="extractor.options.ocr_engine.value === 'tesseract'">
                            <p>Tesseract can perform poorly when detecting page numbers on a table of contents page, but runs on CPU.</p>
                        </p-message>
                    </div>
                </p-fieldset>

                <p-fieldset legend="AI Vision Extractor Options" :toggleable="true" v-if="extractor == EXTRACTORS.ai_vision_extractor">
                    <p-float-label>
                        <p-select v-model="extractor.options.model.value" :options="extractor.options.model.options"></p-select>
                        <label>Model</label>
                    </p-float-label>
                </p-fieldset>
            </p-fieldset>

            <footer class="ui segment basic center">
                <p-message severity="error" v-if="state === 'Errored'">
                    <p>{{ error }}</p>
                </p-message>

                <p-message severity="error" v-if="response && !response.detector.results.success">
                    <details>
                        <summary>Error in Detector: <code>{{ response.detector.results.error }}</code></summary>
                        <pre>{{ response.detector.results.traceback }}</pre>
                    </details>
                </p-message>
                <p-message severity="success" v-else-if="response && response.detector.results.success">
                    Detector Success: {{ response.detector.results.result }}
                </p-message>

                <button
                    class="ui primary button"
                    @click="extractToc"
                    :class="{ loading: state === 'Submitting' }"
                    :disabled="state === 'Submitting'"
                >Extract TOC</button>
            </footer>
        </form>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/primevue/umd/primevue.min.js"></script>
    <script src="https://unpkg.com/@primevue/themes/umd/aura.min.js"></script>
    <script src="[[ url_for('static', filename='shared.js') ]]"></script>
    <script>
        window.app = Vue.createApp({
            data() {
                return {
                    ia_id: "",
                    state: "To Submit",
                    error: null,
                    response: null,
                    randomIaIds: [],
                    
                    DETECTORS: TockyShared.DETECTORS,
                    detector: TockyShared.DEFAULT_DETECTOR,
                    detector_options: Object.values(TockyShared.DETECTORS),

                    EXTRACTORS: TockyShared.EXTRACTORS,
                    extractor: TockyShared.DEFAULT_EXTRACTOR,
                    extractor_options: Object.values(TockyShared.EXTRACTORS),
                };
            },

            mounted() {
                // read from url params if empty
                const urlParams = new URLSearchParams(window.location.search);
                this.ia_id = this.ia_id || urlParams.get("ia_id") || "";
            },

            methods: {
                async extractToc() {
                    this.state = "Submitting";
                    this.response = null;
                    this.error = null;
                    // Navigate to the list page after submission
                    setTimeout(() => window.location.href = "[[ config.env.TOCKY_APPLICATION_ROOT ]]/list", 1000);
                    try {
                        // Settings saved to the DETECTORS/EXTRACTORS in TockyShared (awkward: To fix)
                        this.response = await TockyShared.apiSubmit('[[ config.env.TOCKY_APPLICATION_ROOT ]]', {
                            input_book: {
                                ia_id: this.ia_id,
                            },
                            detector: {
                                type: this.detector.value
                            },
                            extractor: {
                                type: this.extractor.value
                            }
                        });
                    } catch (e) {
                        this.state = "Errored";
                        this.error = e;
                        console.error(e);
                    }
                    this.state = "Submitted";
                },
                getImageUrl(leafNumber) {
                    return `[[ config.env.TOCKY_APPLICATION_ROOT ]]/${
                        TockyShared.getImageUrl(this.ia_id, leafNumber)
                    }`;
                },
                async tryRandomBook() {
                    if (!this.randomIaIds.length) {
                        try {
                            this.randomIaIds.loading = true;
                            const params = new URLSearchParams({
                                q: "mediatype:texts AND openlibrary_edition:* AND -ocr_converted:* AND language:eng AND ocr_detected_lang:en AND -collection:opensource AND -collection:microfilm AND  -repub_state:(10 OR 13)  AND imagecount:[100 TO 99999] AND NOT scanner:google AND NOT curatestate:dark",
                                fl: "identifier",
                                sort: "random",
                                rows: 50,
                                output: "json",
                            });
                            const response = await fetch(`https://archive.org/advancedsearch.php?${params}`);
                            const data = await response.json();
                            this.randomIaIds = data.response.docs.map(doc => doc.identifier);
                        } catch (error) {
                            console.error('Error fetching random book:', error);
                            return;
                        } finally {
                            this.randomIaIds.loading = false;
                        }
                    }

                    const randomIndex = Math.floor(Math.random() * this.randomIaIds.length);
                    this.ia_id = this.randomIaIds[randomIndex];
                }
            },
        });

        TockyShared.registerComponents(window.app);
        window.app.mount("#app");
    </script>
</body>

</html>
